<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home首页</title>
    <script src="/reload/reload.js"></script>
</head>
<body>
    {{{body}}}
<script src="/home.bundle.js"></script>
</body>
</html>