doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/style.css')
    //link(rel='stylesheet', href='/home/mystyle.css')
  body
    block content
    script(type='text/javascript', src='/reload/reload.js')

